
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NeedLogin</title>
</head>
<body>
    <div> 
        此页面需要登录
    </div>
</body>
</html>
