@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    @section styles{
        <style type="text/css">
            p {
                padding: 10px;
            }
        </style>
    }
    @if (Model != null)
    {
        <p class="bg-danger text-danger">
            异常类型：@Model.Exception.GetType().Name
        </p>
        <p class="bg-danger text-danger">
            触发异常的控制器：@Model.ControllerName
        </p>
        <p class="bg-danger text-danger">
            触发异常的操作方法：@Model.ActionName
        </p>
        <p class="bg-danger text-danger">
            错误信息:@Model.Exception.Message
        </p>
    }
</body>
</html>