@using hc.epm.DataModel.Msg;
@*@using hc.epm.Common;*@
@using hc.Plat.Common.Extend;
@{
    ViewBag.Title = "Contact";
}
@{
    var messageList = (List<Msg_Message>)ViewBag.MessageList;
}
<div class="home-main container-fluid">

    <div class="banner row">
        <div class="banner-news col-md-3">
            <div class="news-box shadow">
                <span class="line"></span>
                <span class="news-tittle">最新消息</span>
                <ul>
                    @{
                        if (messageList != null && messageList.Count() > 0)
                        {
                            foreach (var item in messageList)
                            {
                                <li>
                                    <a href="/MessageList/Detail?id=@item.SId" class="news-link">@item.Title</a>
                                    @if (item.State == false)
                                    {
                                        <img src="/Images/new.jpg" alt="new" style="margin-top:-13px">
                                    }

                                </li>
                            }
                        }
                        else {
                            <li><a href="javascript:;" class="news-link">暂无最新消息</a></li>
                        }
                    }                  
                </ul>
            </div>
        </div>
        <div class="banner-group col-md-9">
            <div class="banner-item col-md-2">
                <a href="#">
                    <div class="item shadow">
                        <img src="/Images/banner1.png" alt="新建项目" /><br>
                        <span class="banner-name new-project">新建项目</span><br>
                        <span class="banner-num">62</span>
                    </div>
                </a>
            </div>
            <div class="banner-item col-md-2">
                <a href="#">
                    <div class="item shadow">
                        <img src="/Images/banner2.png" alt="新入驻企业" /><br>
                        <span class="banner-name new-company">新入驻企业</span><br>
                        <span class="banner-num">12</span></br>
                    </div>
                </a>
            </div>
            <div class="banner-item col-md-2">
                <a href="#">
                    <div class="item shadow">
                        <img src="/Images/banner3.png" alt="开标项目" /><br>
                        <span class="banner-name openbid-project">开标项目</span><br>
                        <span class="banner-num">102</span>
                    </div>
                </a>
            </div>
            <div class="banner-item col-md-2">
                <a href="#">
                    <div class="item shadow">
                        <img src="/Images/banner4.png" alt="评标项目" /><br>
                        <span class="banner-name biding-project">评标项目</span><br>
                        <span class="banner-num">73</span>
                    </div>
                </a>
            </div>
            <div class="banner-item col-md-2">
                <a href="#">
                    <div class="item shadow">
                        <img src="/Images/banner5.png" alt="完成项目" /><br>
                        <span class="banner-name final-project">完成项目</span><br>
                        <span class="banner-num">1214</span>
                    </div>
                </a>
            </div>
            <div class="banner-item col-md-2">
                <a href="#">
                    <div class="item shadow">
                        <img src="/Images/banner6.png" alt="项目记录" /><br>
                        <span class="banner-name history-project">项目记录</span><br>
                        <span class="banner-num">1215</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="manage row">
        <div class="manage-item col-md-3">
            <a href="#">
                <div class="item shadow">
                    <img src="/Images/CA-logo.png" alt="CA办理" /><br>
                    <span class="manage-name">CA锁办理</span>
                </div>
            </a>
        </div>
        <div class="manage-item col-md-3">
            <a href="#">
                <div class="item shadow">
                    <img src="/Images/msg-logo.png" alt="消息管理" /><br>
                    <span class="manage-name">消息管理</span>
                </div>
            </a>
        </div>
        <div class="manage-item col-md-3">
            <a href="#">
                <div class="item shadow">
                    <img src="/Images/adv-logo.png" alt="广告管理" /><br>
                    <span class="manage-name">广告管理</span>
                </div>
            </a>
        </div>
        <div class="manage-item col-md-3">
            <a href="#">
                <div class="item shadow">
                    <img src="/Images/cost-logo.png" alt="费用管理" /><br>
                    <span class="manage-name">费用管理</span>
                </div>
            </a>
        </div>
    </div>
</div>
<script>

</script>