
@{
    ViewBag.Title = "单位详情";
}
<style>
    .centre {
        margin: 0 360px;
    }

    .crumbs {
        height: 70px;
        line-height: 70px;
        background-color: #FBFBFB;
        color: #656565;
    }

        .crumbs .home {
            color: #1493ec;
            font-size: 14px;
            font-weight: 700;
        }

        .crumbs .fl {
            margin-right: 8px;
        }

    .content {
        width: 1200px;
        height: 1400px;
    }

    .fa {
        height: 16px;
        width: 26px;
    }

    #container {
        height: 257px;
        background-color: #FFF;
        padding: 80px 0 0 74px;
    }

    .logo, .detail {
        float: left;
    }

    .detail {
        padding-left: 20px;
        line-height: 40px;
    }

    .unitName {
        font-size: 16px;
        color: #1393EE;
    }

    .orientation {
    }

    .browse {
        margin: 0 130px 0 150px;
    }

    .site .orientation,
    .site .browse,
    .site .principal {
        font-weight: 700;
        color: #000;
    }

    .site i {
        color: #666;
    }

    .work .achievement {
        width: 68px;
        height: 24px;
        color: #37B305;
        padding: 3px 5px;
        border: 1px solid #37B305;
        border-radius: 2px;
    }

    .brief {
        padding: 14px 0 0 33px;
        height: 36px;
        background-color: #EEE;
    }

    .briefName {
        color: #1393EE;
        padding-left: 18px;
        font-size: 18px;
        border-left: 3px solid #1393EE;
    }

    .intro {
        height: 982px;
        background-color: #FFF;
        padding: 25px 70px 0 64px;
        font-weight: 700;
    }

        .intro p {
            line-height: 46px;
        }

            .intro p span {
                color: #646464;
                font-weight: 400;
            }

    .PnterpriseProfile {
        display: flex;
    }

        .PnterpriseProfile p:nth-child(1) {
            flex: 1;
        }

        .PnterpriseProfile p:nth-child(2) {
            margin-top: 10px;
            line-height: 26px;
            color: #646464;
            font-weight: 400;
            flex: 15;
        }

    .intro .wz {
        margin-left: 278px;
    }

    .intro .fl .url {
        color: #0C68BF;
    }
</style>

<div class="centre">
    <div class="crumbs">
        <ul>
            <li class="fl"><i class="iconfont home">&#xe602;</i></li>
            <li class="fl">首页</li>
            <li class="fl">></li>
            <li class="fl">资讯中心</li>
            <li class="fl">></li>
            <li class="fl">单位详情</li>
        </ul>
    </div>
    <div id="container">
        <div class="logo"><img src="/html/image/unit-logo.jpg" /></div>
        <div class="detail">
            <p class="unitName">陕西华春建筑咨询公司</p>
            <p class="site">
                <span class="orientation">地区 : <i>陕西&nbsp;西安</i></span>
                <span class="browse">总浏览量 : <i>888</i></span>
                <span class="principal">企业负责人 : <i> 大哥 ( 12312312312 ) </i></span>
            </p>
            <p class="work">
                <span class="achievement">工程科研</span>
                <span class="achievement">装饰装修</span>
                <span class="achievement">勘察设计</span>
                <span class="achievement">造价咨询</span>
            </p>
        </div>
    </div>
    <div>
        <div class="brief unit"><h3 class="briefName">企业简介</h3></div>
        <div class="intro">
            <div><p>优势业务 : <span>切尔去恶趣味,而且气温,恶趣味企鹅,额外企鹅企鹅,</span></p></div>
            <div class="PnterpriseProfile"><p>企业简介 : </p><p>地方就是不分手的积分发的所发生的吧分别就看电视不放假看巴士房价快速把发的所发生的吧分别就看电视不放假看巴士房价快速把发的所发生的吧分别就看电视不放假看巴士房价快速把发的所发生的吧分别就看电视不放假看巴士房价快速把发的所发生的吧分别就看电视不放假看巴士房价快速把发的所发生的吧分别就看电视不放假看巴士房价快速把发的所发生的吧分别就看电视不放假看巴士房价快速把加快非附近地块是否健康</p></div>
            <div><p>企业地址 : <span>热播后付款方尽快开发的少年方</span></p></div>
            <div><p class="fl">联系方式 : <span>123123123 ( 大哥 )</span></p><p class="fl wz">网址 : <span><a href="#" class="url">www.cctv.com</a></span></p></div>
        </div>
    </div>
    <div id="footer"></div>

</div>

