
@{
    ViewBag.Title = "最新资讯详情";
}
<style>
    .centre {
        margin: 0 360px;
    }

    .crumbs {
        line-height: 70px;
        background-color: #FBFBFB;
        color: #656565;
    }

        .crumbs .home {
            color: #1493ec;
            font-size: 14px;
            font-weight: 700;
        }

        .crumbs .fl {
            margin-right: 8px;
        }

    .content {
        width: 1200px;
    }

    .fa {
        height: 16px;
        width: 26px;
    }

    .right {
        width: 940px;
        padding: 0 44px 0 26px;
        background-color: #FFF;
    }

    .hender {
        padding-top: 60px;
        font-size: 12px;
        text-align: center;
        height: 148px;
        border-bottom: 1px solid #EBF3F5;
    }

        .hender .topic {
            font-size: 22px;
            color: #000;
        }

        .hender p {
            margin-top: 11px;
            color: #999;
        }

        .hender .amount {
            margin: 0 25px;
        }

    .img img {
        width: 246px;
        margin-top: 24px;
    }

    .centent {
        padding: 50px 0 84px 0;
        line-height: 30px;
        color: #666;
        text-indent: 2em;
    }

        .centent img {
            width: 870px;
        }

    div {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        /* Firefox */
        -webkit-box-sizing: border-box;
        /* Safari */
    }

    #sidebar {
        width: 246px;
        background-color: #fff;
        margin-right: 14px;
    }

        #sidebar #mine {
            height: 135px;
            padding: 30px;
            background: #1393EC url("/Resource/images/globe1.jpg") no-repeat 177px 2px;
        }

            #sidebar #mine span:nth-child(1) {
                font-size: 25px;
                color: #ffffff;
                font-weight: 600;
                display: block;
            }

            #sidebar #mine span:nth-child(2) {
                margin: 5px 0 0 3px;
                font-size: 18px;
                color: #66baf6;
                display: block;
            }

        #sidebar .lefttab {
            margin-top: 20px;
        }

            #sidebar .lefttab a {
                display: block;
                box-sizing: border-box;
                padding: 0 50px;
                font-size: 16px;
                line-height: 50px;
                color: #666666;
                letter-spacing: .5px;
            }

            #sidebar .lefttab li:nth-child(1) a {
                color: #1393EE;
                background-color: #ecf3f7;
            }

    .linker {
        margin: 70px 0 0 0;
        color: #333;
        border-bottom: 1px solid #AEAEAE;
        line-height: 14px;
    }

    .glyphicon {
        display: inline-block;
        height: 20px;
        width: 20px;
        color: red;
    }
</style>

<div class="centre">
    <div class=" crumbs">
        <ul>
            <li class="fl"><i class="iconfont home">&#xe602;</i></li>
            <li class="fl">首页</li>
            <li class="fl">></li>
            <li class="fl">资讯中心</li>
            <li class="fl">></li>
            <li class="fl">资讯详情</li>
        </ul>
    </div>
    <div id="container" class="c content">

        <div id="sidebar" class="fl">
            <div id="mine">
                <span>资讯中心</span>
                <span>INFORMATION</span>
            </div>
            <ul class="lefttab">
                <li><a href="#">最新资讯</a></li>
                <li><a href="#">工程动态</a></li>
                <li><a href="#">最新公告</a></li>
            </ul>
            <div class="img">
                <img src="/Resource/images/home.jpg" />
            </div>
        </div>
        <div id="main" class="fl c">
            <div class="right">
                <div class="hender">
                    <h2 class="topic">“精忠报国”是我一生追求的目标</h2>
                    <p>
                        <span class="time">发布时间 : 2018-05-11 11:22:33</span>
                        <span class="amount">浏览次数 :【７】次</span>
                        <span class="source">信息来源 :【陕西日报】</span>
                    </p>
                </div>
                <div class="centent c">
                    <p class="detas deta">
                        从小，习近平就在英雄故事的熏陶中成长。

                        他常谈起五六岁时随母亲买《岳飞传》《岳母刺字》等小人书的故事。习近平说：“买回来之后，她就给我讲精忠报国、岳母刺字的故事。我说，把字刺上去，多疼啊！我母亲说，是疼，但心里铭记住了。‘精忠报国’四个字，我从那个时候一直记到现在，它也是我一生追求的目标。”

                        1966年，上初中一年级的习近平听了焦裕禄的故事“受到深深震撼”。“记得1966年2月7日，《人民日报》刊登了穆青等同志的长篇通讯《县委书记的榜样——焦裕禄》……政治课老师在念这篇通讯的过程中几度哽咽，多次泣不成声，同学们也流下眼泪。”习近平动情地说到，“我们这一代人，是深受焦裕禄同志的事迹教育成长起来的。”
                    </p>
                    <img src="/Resource/images/zhuxi.jpg" />
                    <p class="detas">
                        从小，习近平就在英雄故事的熏陶中成长。

                        他常谈起五六岁时随母亲买《岳飞传》《岳母刺字》等小人书的故事。习近平说：“买回来之后，她就给我讲精忠报国、岳母刺字的故事。我说，把字刺上去，多疼啊！我母亲说，是疼，但心里铭记住了。‘精忠报国’四个字，我从那个时候一直记到现在，它也是我一生追求的目标。”

                        1966年，上初中一年级的习近平听了焦裕禄的故事“受到深深震撼”。“记得1966年2月7日，《人民日报》刊登了穆青等同志的长篇通讯《县委书记的榜样——焦裕禄》……政治课老师在念这篇通讯的过程中几度哽咽，多次泣不成声，同学们也流下眼泪。”习近平动情地说到，“我们这一代人，是深受焦裕禄同志的事迹教育成长起来的。”
                    </p>
                    <a href="#" class="fl linker">上一条 : "习近平崇敬英雄，也喜欢讲英雄故事"</a>
                    <a href="#" class="fr linker">下一条 : "实现中华民族伟大复兴的目标需要英雄精神"</a>
                </div>
            </div>
        </div>
    </div>
</div>