
@{
    ViewBag.Title = "最新资讯列表";
}
<style>
    /*资讯列表*/
    .centre {
        margin: 0 360px;
    }

    .crumbs {
        line-height: 70px;
        background-color: #FBFBFB;
        color: #656565;
    }

        .crumbs .fl {
            margin-right: 8px;
        }

        .crumbs .home {
            color: #1493ec;
            font-size: 14px;
            font-weight: 700;
        }

    .content {
        width: 1200px;
        /*height: 1715px;*/
    }

    .fa {
        height: 16px;
        width: 26px;
    }

    .listArticel, .objectNews {
        /*height: 1578px;*/
        width: 940px;
        padding: 0 44px 50px 26px;
        background-color: #FFF;
    }

        .listArticel .hender, .dynamic {
            line-height: 78px;
            border-bottom: 1px solid #EBF3F5;
            font-size: 20px;
            color: #666;
        }

            .hender span, .dynamic span {
                display: inline-block;
                height: 100%;
                border-bottom: 2px solid #1592EC;
            }

        .listArticel .list .lists {
            width: 868px;
            height: 174px;
            padding-top: 30px;
            border-bottom: 1px solid #EBF3F5;
        }

        .listArticel .list .fl img {
            width: 215px;
            margin-right: 22px;
        }

        .listArticel .list .fr {
            width: 630px;
            height: 142px;
        }

            .listArticel .list .fr h2 {
                line-height: 40px;
            }

            .listArticel .list .fr p {
                height: 80px;
                line-height: 25px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            .listArticel .list .fr .head span {
                color: #F3730E;
            }

            .listArticel .list .fr .head img {
                margin-left: 10px;
            }

            .listArticel .list .fr .head {
                font-size: 18px;
            }

                .listArticel .list .fr .head a {
                    color: #343434;
                }

            .listArticel .list .fr span {
                display: inline-block;
                line-height: 30px;
                color: #989898;
            }

    .home img {
        width: 246px;
        margin-top: 24px;
    }

    div {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        /* Firefox */
        -webkit-box-sizing: border-box;
        /* Safari */
    }
    /*侧边导航栏*/
    #sidebar {
        width: 246px;
        background-color: #fff;
        margin-right: 14px;
    }

        #sidebar #mine {
            height: 135px;
            padding: 30px;
            background: #1393EC url("/Resource/images/globe1.jpg") no-repeat 177px 2px;
        }

            #sidebar #mine span:nth-child(1) {
                font-size: 24px;
                color: #ffffff;
                font-weight: 600;
                display: block;
            }

            #sidebar #mine span:nth-child(2) {
                margin: 5px 0 0 3px;
                font-size: 18px;
                color: #66baf6;
                display: block;
            }

        #sidebar .lefttab {
            margin-top: 20px;
        }

            #sidebar .lefttab a {
                display: block;
                box-sizing: border-box;
                padding: 0 50px;
                font-size: 16px;
                height: 50px;
                line-height: 50px;
                color: #666666;
                letter-spacing: .5px;
            }

            #sidebar .lefttab li:nth-child(1) a {
                color: #1393EE;
                background-color: #ecf3f7;
            }

    #main thead {
        background: #1493ec;
        height: 50px;
        line-height: 50px;
    }

        #main thead td {
            text-align: center;
            color: #ffffff;
        }

    #main tbody {
        text-align: center;
    }

        #main tbody tr {
            height: 45px;
            line-height: 45px;
        }

    #main tbody {
        margin: 20px;
    }

        #main tbody tr td {
            color: #ADADAD;
        }

            #main tbody tr td:nth-child(2) {
                text-align: left;
            }

                #main tbody tr td:nth-child(2) a,
                #main tbody tr td:nth-child(5) a {
                    color: #646464;
                }

    .click {
        color: #1393EE;
        background-color: #ecf3f7;
    }
</style>
<div class="centre">
    <div class="crumbs">
        <ul>
            <li class="fl"><i class="iconfont home">&#xe602;</i></li>
            <li class="fl">首页</li>
            <li class="fl">></li>
            <li class="fl">资讯中心</li>
        </ul>
    </div>
    <div id="container" class="c content">
        <div id="sidebar" class="fl">
            <div id="mine">
                <span>资讯中心</span>
                <span>INFORMATION</span>
            </div>
            <ul class="lefttab">
                <li><a href="javascript:;">最新资讯</a></li>
                <li><a href="javascript:;">工程动态</a></li>
                <li><a href="javascript:;">最新公告</a></li>
            </ul>
            <div class="home">
                <img src="/Resource/images/home.jpg" />
            </div>
        </div>
        <div id="main" class="fl c">
            <div class="listArticel">
                <div class="hender">
                    <p>最新资讯</p>
                </div>
                <div class="list">
                    <ul>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                        <li class="lists">
                            <div class="fl">
                                <img src="/Resource/images/latest.jpg" />
                            </div>
                            <div class="fr">
                                <h2 class="head"><a href="#"><span>【企业新闻】</span>西安市建筑设计研究院：精心设计、满足要求</a><img src="/Resource/images/newest.jpg" /></h2>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计院技术力量雄厚。现有职工290余人，其中：国家各类执业注册人员50余人，三分之二以上人员持有各类技术职称，拥有一批在行业内有较高学术造诣和社会影响力的专业技术带头人，设计水平和实力在行业中名列前茅。设计院长期坚持以领导为核心,发展壮大每一位成员的实力,寻求共同发展,创造美好大中国</p>
                                <span>2018-05-22</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="page" style="text-align:right; margin-right:5px; margin-bottom:50px;">
                    <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-1">
                        <a href="javascript:;" class="layui-laypage-prev layui-disabled" data-page="0">上一页</a>
                        <span class="layui-laypage-curr"><em class="layui-laypage-em"></em><em>1</em></span>
                        <a href="javascript:;" class="layui-laypage-next layui-disabled" data-page="2">下一页</a>
                        <span class="layui-laypage-skip">
                            到第<input type="text" min="1" value="1" class="layui-input">页
                            <button type="button" class="layui-laypage-btn">确定</button>
                        </span>
                        <span class="layui-laypage-count">共 6 条</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'form', 'element', 'laypage'], function () {
            var layer = layui.layer, form = layui.form, element = layui.element, $ = layui.jquery, laypage = layui.laypage;
            //分页
            laypage.render({
                elem: 'page',
                count: '@ViewBag.Total',
                curr: '@ViewBag.pageIndex',
                layout: ['prev', 'page', 'next', 'skip', 'count'],
                jump: function (obj, first) {
                    if (!first) {
                        //得到了当前页，用于向服务端请求对应数据
                        var curr = obj.curr;
                        var search = $("form").serialize();
                        window.location.href = "/DataConfig/Index?pageIndex=" + curr + "&" + search;
                    }
                }
            });
    });
</script>