
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestUpload</title>
</head>
<body>
    <div> 
        <form action="http://localhost:1421/Index.aspx" method="post">
            <input type="text"  name="testName"/>
            <input type="file" name="testFile" />
            <input type="submit" value="提交" />
        </form>
    </div>
</body>
</html>
