
@{
    ViewBag.Title = "问题详情";
    Layout = "~/Views/Shared/_LayoutPageH5.cshtml";
}
<style>
    * {
        padding: 0;
        margin: 0;
    }

    .use {
        border-bottom: 1px solid #f2f2f2;
        margin: 0 15px;
    }

        .use h3 {
            line-height: 50px;
        }

    .detail {
        line-height: 30px;
        font-size: 1rem;
        padding: 5px 15px;
        color: #555;
    }
</style>

<div style="border-top:5px solid #f2f2f2;">
    <div class="use">
        <h3>花费为你哭了我惹我</h3>
    </div>
    <p class="detail">
        尽管目前市场上有很多翻译工具，却不能满足大多企业对专业内容翻译的需求，而传统翻译则存在翻译费用高、速度慢等问题。本文跟大家分享一个高效而低成本的翻译平台：语翼Woordee。
        著作权归作者所有。
        商业转载请联系作者获得授权，非商业转载请注明出处。
        作者：站长之家编辑
        来源：站长之家
        尽管目前市场上有很多翻译工具，却不能满足大多企业对专业内容翻译的需求，而传统翻译则存在翻译费用高、速度慢等问题。本文跟大家分享一个高效而低成本的翻译平台：语翼Woordee。
        著作权归作者所有。
        商业转载请联系作者获得授权，非商业转载请注明出处。
        作者：站长之家编辑
        来源：站长之家
        尽管目前市场上有很多翻译工具，却不能满足大多企业对专业内容翻译的需求，而传统翻译则存在翻译费用高、速度慢等问题。本文跟大家分享一个高效而低成本的翻译平台：语翼Woordee。
        著作权归作者所有。
        商业转载请联系作者获得授权，非商业转载请注明出处。
        作者：站长之家编辑
        来源：站长之家
        尽管目前市场上有很多翻译工具，却不能满足大多企业对专业内容翻译的需求，而传统翻译则存在翻译费用高、速度慢等问题。本文跟大家分享一个高效而低成本的翻译平台：语翼Woordee。
        著作权归作者所有。
        商业转载请联系作者获得授权，非商业转载请注明出处。
        作者：站长之家编辑
    </p>
</div>