
@{
    ViewBag.Title = "hb";
    Layout = "~/Views/Shared/_LayoutHc.cshtml";
}
<a href="http://localhost:1560/HcDataConfig/index" target="_blank">项目资料</a><br />
<a href="http://localhost:1560/HcMilestone/Index" target="_blank">里程碑</a><br />
<a href="http://localhost:1560/HcOilStation/Index" target="_blank">加油站</a><br />
<a href="http://localhost:1560/HcAdTarget/Index" target="_blank">广告位</a><br />
<a href="http://localhost:1560/HcAdPutRecord/Index" target="_blank">广告投放记录</a><br />
<a href="http://localhost:1560/HcConstitute/Index" target="_blank">批复构成管理</a><br />
<a href="http://localhost:1560/HcISP/Index" target="_blank">工程服务商设置</a><br />
<a href="http://localhost:1560/HcCheckItem/Index" target="_blank">检查项管理</a><br />
<a href="http://localhost:1560/HcTypeDictionary/Index" target="_blank">数据字典</a><br />
<a href="http://localhost:1560/HcRegion/Index?name=本省" target="_blank">省市地区</a><br />
<a href="http://localhost:1560/HcLog/Index" target="_blank">系统日志</a><br />
<br /><br />
<a href="http://localhost:1560/HcRight/Index?belong=Admin" target="_blank">后台菜单设置</a><br />
<a href="http://localhost:1560/HcRight/Index?belong=Owner" target="_blank">前台菜单设置</a><br />
<a href="http://localhost:1560/HcRole/Index" target="_blank">角色管理</a><br />
<a href="http://localhost:1560/HcOrganization/Index" target="_blank">组织机构</a><br />
<a href="http://localhost:1560/HcUser/Index" target="_blank">用户管理</a><br />
<br /><br />
<a href="http://localhost:1560/HcSMSTemplete/Index" target="_blank">短信模板</a><br />
<a href="http://localhost:1560/HcMessageTemplete/Index" target="_blank">站内消息模板</a><br />
<a href="http://localhost:1560/HcMessageList/Index" target="_blank">站内消息记录</a><br />