<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqToExcel" version="1.11.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net46" />
  <package id="NPOI" version="2.4.1" targetFramework="net46" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net46" />
</packages>