<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RedisIP" value="192.168.1.236"/>
    <add key="RedisPort" value="6379"/>
    <add key="RedisPassword" value="ebcache"/>
    <!--db 索引0到15-->
    <add key="RedisDB" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
