<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="hc.Plat.WindowsServer.ShanxiEPM"/>
    <add key="ServiceDispName" value="全过程项目管理平台核心服务-陕西"/>
    <add key="ServiceDescript" value="全过程项目管理平台核心服务-陕西"/>

    <add key="BIMoutput" value="C:\EPM\GLBIMEngineServer\CustomerStation\" />

    <add key="TepmoraryPath" value="D:\EPM\Temporary\upLoad\" />
    <add key="ResourceRoot" value="http://10.202.6.228/download/downloadfile"/>
    <add key="RPAPath" value="http://localhost:50468/Download/DownLoadHB" />
    <!--是否启用协同审批流程 默认0 否 、1 是-->
    <add key="XtWorkFlow" value="0"/>
    <!--站点路径，图片存储路径-->
    <add key="ResourceUrl" value="http://192.168.1.239:8085/"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>

  <system.web>
    <httpRuntime maxRequestLength="536870912"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="transportTcpBinding" maxReceivedMessageSize="536870912" maxBufferSize="536870912" maxBufferPoolSize="536870912">
          <security mode="Message">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
          <readerQuotas maxDepth="536870912" maxStringContentLength="536870912" maxArrayLength="536870912" maxBytesPerRead="536870912" maxNameTableCharCount="536870912"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="WorkflowServiceHttpBinding"  maxReceivedMessageSize="536870912" />
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceCertificateBehavior">
          <serviceMetadata/>
          <serviceCredentials>
            <!--以下配置不能在Config中显示配置，否则证书必须在服务器端安装-->
            <!--<serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="hcSinri" />-->
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="hc.Plat.Service.Base.MyUserNamePasswordValidator,hc.Plat.Service.Base"/>
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCertificateBehavior1></serviceCertificateBehavior1>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--//以下为扩展context的配置//-->
    <extensions>
      <behaviorExtensions>
        <add name="serviceCertificateBehavior1" type="hc.Plat.Common.Global.ContextPropagationBehaviorElement, hc.Plat.Common.Global, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <!--end-->

    <!-- WCF服务设置-->
    <services>
      <!--文件服务器-->
      <!--<service name="hc.Plat.FileServer.Server.FileService" behaviorConfiguration="serviceCertificateBehavior">
        <endpoint address="net.tcp://127.0.0.1:7040/FileService" binding="netTcpBinding" bindingConfiguration="transportTcpBinding" contract="hc.Plat.FileServer.Server.IFileService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7040/FileService"/>
          </baseAddresses>
        </host>
      </service>-->
      <service name="hc.epm.Service.Msg.MsgService" behaviorConfiguration="serviceCertificateBehavior">
        <endpoint address="net.tcp://127.0.0.1:7040/MsgService" binding="netTcpBinding" bindingConfiguration="transportTcpBinding" contract="hc.epm.Service.Msg.IMsgService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7040/MsgService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="hc.epm.Service.Basic.BasicService" behaviorConfiguration="serviceCertificateBehavior">
        <endpoint address="net.tcp://127.0.0.1:7040/BasicService" binding="netTcpBinding" bindingConfiguration="transportTcpBinding" contract="hc.epm.Service.Basic.IBasicService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7040/BasicService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="hc.epm.Service.Business.BusinessService" behaviorConfiguration="serviceCertificateBehavior">
        <endpoint address="net.tcp://127.0.0.1:7040/BusinessService" binding="netTcpBinding" bindingConfiguration="transportTcpBinding" contract="hc.epm.Service.Business.IBusinessService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7040/BusinessService"/>
          </baseAddresses>
        </host>
      </service>
      <service name="hc.epm.Service.ClientSite.ClientSiteService" behaviorConfiguration="serviceCertificateBehavior">
        <endpoint address="net.tcp://127.0.0.1:7040/ClientSiteService" binding="netTcpBinding" bindingConfiguration="transportTcpBinding" contract="hc.epm.Service.ClientSite.IClientSiteService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7040/ClientSiteService"/>
          </baseAddresses>
        </host>
      </service>

    </services>

    <client>
      <endpoint address="http://10.202.1.72:8900/services/WorkflowService" binding="basicHttpBinding" bindingConfiguration="WorkflowServiceHttpBinding" contract="XtWorkFlow.WorkflowServicePortType" name="WorkflowServiceHttpPort" />
    </client>
  </system.serviceModel>

  <configProtectedData>
    <providers>
      <clear />
      <add name="ConnStrKeyContainerProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="ConnStrKeyContainer" useMachineContainer="true"/>
    </providers>
  </configProtectedData>

  <connectionStrings>
    <!--<add name="HCPlat_FileServerEntities" connectionString="metadata=res://*/FileServerModel.csdl|res://*/FileServerModel.ssdl|res://*/FileServerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.243;initial catalog=HCPlat_FileServer;persist security info=True;user id=sa;password=1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="basicConnectionString" connectionString="server=10.202.6.229;uid=yunweidata;pwd=Huachun@#$1992.;database=SEPM_BaseTest" providerName="System.Data.SqlClient" />
    <add name="msgConnectionString" connectionString="server=10.202.6.229;uid=yunweidata;pwd=Huachun@#$1992.;database=SEPM_MsgTest" providerName="System.Data.SqlClient" />
    <add name="businessConnectionString" connectionString="server=10.202.6.229;uid=yunweidata;pwd=Huachun@#$1992.;database=SEPM_BusinessTest" providerName="System.Data.SqlClient" />-->

    <!--<add name="HCPlat_FileServerEntities" connectionString="metadata=res://*/FileServerModel.csdl|res://*/FileServerModel.ssdl|res://*/FileServerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.243;initial catalog=HCPlat_FileServer;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    <add name="basicConnectionString" connectionString="server=123.138.111.138,14211;uid=yunweiadmin;pwd=Huachun@#%369.;database=SEPM_BaseTest" providerName="System.Data.SqlClient" />
    --><!--<add name="msgConnectionString" connectionString="server=192.168.1.243;uid=sa;pwd=sa;database=SEPM_MsgTest" providerName="System.Data.SqlClient" />--><!--
    <add name="businessConnectionString" connectionString="server=123.138.111.138,14211;uid=yunweiadmin;pwd=Huachun@#%369.;database=SEPM_BusinessTest" providerName="System.Data.SqlClient" />-->
    <add name="HCPlat_FileServerEntities" connectionString="metadata=res://*/FileServerModel.csdl|res://*/FileServerModel.ssdl|res://*/FileServerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.243;initial catalog=HCPlat_FileServer;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="basicConnectionString" connectionString="server=192.168.1.243;uid=sa;pwd=sa;database=SEPM_BaseTest" providerName="System.Data.SqlClient" />
    <add name="msgConnectionString" connectionString="server=192.168.1.243;uid=sa;pwd=sa;database=SEPM_MsgTest" providerName="System.Data.SqlClient" />
    <add name="businessConnectionString" connectionString="server=192.168.1.243;uid=sa;pwd=sa;database=SEPM_BusinessTest" providerName="System.Data.SqlClient" />

    <!--<add name="HCPlat_FileServerEntities" connectionString="metadata=res://*/FileServerModel.csdl|res://*/FileServerModel.ssdl|res://*/FileServerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SHCPlat_FileServer;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="basicConnectionString" connectionString="server=192.168.0.109;uid=sa;pwd=123456;database=SEPM_Base" providerName="System.Data.SqlClient" />
    <add name="msgConnectionString" connectionString="server=192.168.0.109;uid=sa;pwd=123456;database=SEPM_Msg" providerName="System.Data.SqlClient" />
    <add name="businessConnectionString" connectionString="server=192.168.0.109;uid=sa;pwd=123456;database=SEPM_Business" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

</configuration>
