<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="server=192.168.1.243;uid=sa;pwd=sa;database=SEPM_BusinessTest" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>