
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestDownLoad</title>
</head>
<body>
    <div> 
        <a href="/Download/DownLoadHB?group=1&path=22.zip&fileName=22.zip">测试下载</a>
    </div>
</body>
</html>
