<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="hc.epm.BimTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <appSettings>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HrmServiceHttpBinding" />
        <binding name="WorkflowServiceHttpBinding"  maxReceivedMessageSize="536870912" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.202.1.72:8900/services/HrmService"
        binding="basicHttpBinding" bindingConfiguration="HrmServiceHttpBinding"
        contract="XtBaseData.HrmServicePortType" name="HrmServiceHttpPort" />
      <endpoint address="http://10.202.1.72:8900/services/WorkflowService"
        binding="basicHttpBinding" bindingConfiguration="WorkflowServiceHttpBinding"
        contract="XtWorkFlow.WorkflowServicePortType" name="WorkflowServiceHttpPort" />
    </client>
  </system.serviceModel>
</configuration>