<!--**********************footnav****************************-->
<div class="footnav">
    <div class="subfootnav">
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">平台地图</a></li>
            <li style="width:13.6%"><a href="#">安全隐私</a></li>
            <li style="width:19.6%"><a href="#">企业地址</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">IOS</a></li>
        </ul>
    </div>
</div>
<!--**********************foot****************************-->
<div class="foot">
    <div class="subfoot">
        <ul class="ul-1">
            <li class="li-1">
                <ul class="ul-2">
                    <li><a href="#javascript;">平台介绍</a></li>
                    <li><a href="#javascript;">联系我们</a></li>
                    <li></li>
                </ul>
            </li>
            <li class="li-1">
                <ul class="ul-2">
                    <li><a href="#javascript;">平台首页</a></li>
                    <li><a href="#javascript;">项目管理</a></li>
                    <li><a href="#javascript;">过程管理</a></li>
                    <li><a href="#javascript;">安全质量</a></li>
                    <li><a href="#javascript;">个人中心</a></li>
                    <li></li>
                </ul>
            </li>
            <li class="li-1" style="width:13.6%">
                <ul class="ul-2">
                    <li><a href="#javascript;">免责声明</a></li>
                    <li><a href="#javascript;">服务条款</a></li>
                </ul>
            </li>
            <li class="li-1" style="width:19.6%">
                <ul class="ul-2">
                    <li><a href="#javascript;">陕西省西安市雁塔区高新六路16号</a></li>
                    <li><a href="#javascript;">中国石油天然气股份有限公司陕西销售分公司</a></li>
                </ul>
            </li>
            <li class="li-1">
                <ul class="ul-2">
                    <li class="imgli"><img src="~/Resource/images/android.png" style="height:119px; width:119px;" /></li>
                </ul>
            </li>
            <li class="li-1">
                <ul class="ul-2">
                    <li class="imgli"><img src="~/Resource/images/ios.png" style="height:119px; width:119px;" /></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--**********************footlog***************************-->
<div class="footlog">
    <div class="subfootlog">
        技术支持：<a href="http://www.huachunnet.com/index.html">陕西华春网络科技股份有限公司</a>
        备案号:<a href="http://www.beian.miit.gov.cn/state/outPortal/loginPortal.action;jsessionid=GWyFUHbkdNjtDXEKe49_HaO5Sjnp-tCie31LTy3ZUkZPd31pXFBI!20875049">
    陕ICP备09010992号-4</a>
    </div>
</div>